h1{
	padding:60px;
	text-align:center;
	background-color:#ffc9ff;
	margin:0px;
}
.second{
	padding:20px;
	text-align:center;
	background-color:#9a14ec;
	margin:0px;
	font-size:40px;
	color:white;
	font-size:30px;
}
.third{
	padding:260px;
	text-align:center;
	background-color:#ffffff;
	margin:0px;
	font-size:40px;
}
h2{
	padding:60px;
	text-align:center;
	background-color:#cb87f5;
	margin:0px;
}
body{
	margin:0px;
	padding:0px;
}