h1{
	padding:60px;
	text-align:center;
	background-color:#ffc9ff;
	margin:0px;
}
.left{
	text-align:center;
	background-color:#ff99ff;
	margin:0px;
	font-size:20px;
	float:left;
	width:30%;
	height:945px;
	line-height:945px;
}
.right{
	background-color:#ffffff;
	margin:0px;
	font-size:40px;
	color:black;
	font-size:20px;
	float:left;
	width:70%;
	height:640px;
	text-align:center;
	line-height:640px;
}
h2{
	padding:60px;
	text-align:center;
	background-color:#cb87f5;
	margin:0px;
}
body{
	margin:0px;
	padding:0px;
}
.footer{
	width:70%;
	float:left;
}
p{
	padding:0px;
}