h1{
	padding:60px;
	text-align:center;
	background-color:#ffc9ff;
	margin:0px;
}
.nav {
	background-color:#9a14ec;
	text-align:center;
	height:30px;
	padding:15px;
	color:white;
}
.left{
	padding:300px;
	text-align:center;
	background-color:#ff99ff;
	margin:0px;
	font-size:40px;
	color:black;
	font-size:20px;
	float:left;
}
.right{
	padding:300px 550px 300px 550px;
	text-align:center;
	background-color:#ffffff;
	margin:0px;
	font-size:20px;
	float:left;
}
h2{
	padding:60px;
	text-align:center;
	background-color:#cb87f5;
	margin:0px;
}
body{
	margin:0px;
	padding:0px;
}
.footer{
	clear:both;
}
